$desktop-screen: 1440px;
$tablet-screen: 768px;
$mobile-screen: 320px;

$desktop-inline-padding: 135px;
$tablet-inline-padding: 34px;
$mobile-inline-padding: 10px;

$black: #000;
$gray: #7b7b7b;
$white: #fff;
$gray-dark: #565656;
$grey: #F4F4F4;