$desktop-screen: 1600px;
$tablet-screen: 768px;
$mobile-screen: 320px;

$desktop-inline-padding: 215px;
$tablet-inline-padding: 34px;
$mobile-inline-padding: 10px;

$violet-middle: #8A40EE;
$gray-dark: #4B5D68;
$violet-dark: #212353;
$violet: #9C69E2;
$white: #fff;
$pink: #F063B8;
$pink-middle: #EB4BAB;

$pink-medium: #FDE8F5;
$blue-medium: #CDF;
$white: #FFF;
$gray-radius: rgba(75, 93, 104, 0.10);

$green-light: #F0FAF9;
$violet-light: #F6F0FD;
$pink-light: #FEF0F8;
$blue-light: #EAF6FC;