$dark-green: #52C29D;
$middle-green: #CAEFF2;
$light-green: #E1F4F5;
$lighten-green: #F4FeFF;
$dark-blue: #007FFC;
$middle-blue: #B9DCFF;
$light-blue: #D1e7ff;
$lighten-blue: #e8f3ff;
$black: #16133d;
$green: #3DB370;
$white: #fff;
$gray: #7690A8;

$site-header-height: 80px;
$site-footer-height: 193px;
$site-inline-padding: 135px;
$site-section-padding: 100px;